@import "tailwindcss";
@import "./tailwind.css";
@source "./src";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
:root {
  --cta: #1e9c51;
  --ctaDisabled: #90cba8;
  --ctaHover: #167b40;
  --ctaFocus: #0f5c30;
  --aler: #c03030;
  --primary: #000;
  --focus: #388e3c;
  --tritary: #e0e0e0;
  --secondary: #50675e;
  --cta30: #1e9c5032;
  --highlighter: #ffffff;
  --highlighterDisabled: #201f12;
  --highlighterHover: #fff176;
  --highlighterFocus: #ffee58;
  --highlighterFaded: #fffde7;
  --bg: #f2f6fc;
  --border-color: #e2e2e2;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.animate-flicker {
  animation: fadeIn 0.8s infinite alternate;
}

.border-gradient-secondary {
  background: linear-gradient(#f2f6fc, #f2f6fc) padding-box,
    linear-gradient(90deg, transparent 5%, var(--cta) 50%, transparent 95%)
      border-box;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
      90deg,
      transparent 5%,
      var(--cta) 50%,
      transparent 95%
    )
    1;
}
div {
  user-select: none !important;
}

input::placeholder {
  transition: 0.3s ease-in-out;
  opacity: 1;
}

input:focus::placeholder {
  opacity: 0;
}

input:hover {
  box-shadow: none !important;
  outline: none !important;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.custome-scrool-bar::-webkit-scrollbar {
  background-color: var(--BG);
  width: 4px;
  opacity: 0;
}

.custome-scrool-bar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--cta);
}
.ant-drawer {
  position: fixed;
  inset: 0;
  max-width: 470px;
  margin: auto;
  z-index: 1000;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.88);
}

.ant-tabs-nav {
  position: sticky !important;
  top: 0;
  z-index: 2;
  background-color: var(--BG);
}

.ant-skeleton-element {
  background-color: #f0f0f0 !important;
}

.general-rtl-class {
  direction: rtl;
}
