@import "tailwindcss";
@import "./tailwind.css";
@source "./src";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
:root {
  --cta: #065866; /* آبی فسفری برای CTA اصلی */
  --ctaDisabled: #1a4d54; /* آبی مایل به خاکستری برای حالت غیرفعال */
  --ctaHover: #24c0dd; /* آبی کمی تیره‌تر برای هاور */
  --ctaFocus: #1a9db5; /* فوکوس آبی برجسته */

  --aler: #ff6b6b; /* قرمز روشن برای هشدار */
  --primary: #64b5f6; /* آبی اصلی روشن‌تر برای دارک */
  --focus: #81c784; /* سبز ملایم برای فوکوس */
  --tritary: #101028; /* سطح سوم خاکستری تیره */
  --secondary: #9dbeb3; /* سبز خاکستری روشن */

  --cta30: #2ddcfc30; /* ورژن ترنسپرنت cta */

  --highlighter: #ffffff; /* سفید خالص */
  --highlighterDisabled: #cccccc; /* خاکستری روشن برای غیرفعال */
  --highlighterHover: #ffffff; /* سفید در هاور */
  --highlighterFocus: #ffffff; /* سفید در فوکوس */
  --highlighterFaded: #f0f0f0; /* سفید کم‌رنگ برای بافت یا پس‌زمینه */

  --bg: #060617; /* پس‌زمینه دارک جادویی */
  --border-color: #2a2a2a;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.animate-flicker {
  animation: fadeIn 0.8s infinite alternate;
}

.border-gradient-secondary {
  background: linear-gradient(#f2f6fc, #f2f6fc) padding-box,
    linear-gradient(90deg, transparent 5%, var(--cta) 50%, transparent 95%)
      border-box;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
      90deg,
      transparent 5%,
      var(--cta) 50%,
      transparent 95%
    )
    1;
}
div {
  user-select: none !important;
}

input::placeholder {
  transition: 0.3s ease-in-out;
  opacity: 1;
}

input:focus::placeholder {
  opacity: 0;
}

input:hover {
  box-shadow: none !important;
  outline: none !important;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.custome-scrool-bar::-webkit-scrollbar {
  background-color: var(--BG);
  width: 4px;
  opacity: 0;
}

.custome-scrool-bar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--cta);
}
.ant-drawer {
  position: fixed;
  inset: 0;
  max-width: 470px;
  margin: auto;
  z-index: 1000;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.88);
}

.ant-tabs-nav {
  position: sticky !important;
  top: 0;
  z-index: 2;
  background-color: var(--BG);
}

.ant-skeleton-element {
  background-color: #f0f0f0 !important;
}

.general-rtl-class {
  direction: rtl;
}
